# -altera-*, altera are fpga specific lints
# -fuchsia-*,
# -llvmlibc-*, llvm libc specific warnings
# -llvm-header-gurard, we use "#pragma once"
# -modernize-use-trailing-return-type, we do not use trailing return type
---
Checks: >
  *,
  -altera-*,
  -fuchsia-*,
  -llvmlibc-*,
  -llvm-header-guard,
  -modernize-use-trailing-return-type

# WarningsAsErrors: ''
# SystemHeaders:   false
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: hicpp-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: readability-identifier-length.IgnoredVariableNames
    value: "_"
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true
...

